:root {
    --color-nav: #2B3A46;
    --color-nav-80: rgba(43, 58, 70, 0.8);
    --color-green: #84C035;
    --color-green-80: rgba(132, 192, 53, 0.8);
    --color-fff-20: rgba(255, 255, 255, 0.2);
    --color-fff-10: rgba(255, 255, 255, 0.1);
}

.bg-night {
    background-color: var(--color-nav);
}

.bg-green {
    background-color: var(--color-green);
}

.bg-green:hover {
    background-color: var(--color-green-80);
}

.bg-green:focus, .bg-green:active {
    background-color: var(--color-green) !important;
}

.bg-fff-20 {
    background-color: var(--color-fff-20);
}

.bg-fff-20:hover {
    background-color: var(--color-fff-10);
}

.text-green {
    color: var(--color-green);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    /* overflow: hidden; */
    font-family: "Poppins", sans-serif;
    max-height: 100vh;
}

/* Navbar */
header {
    background-color: var(--color-nav);
    overflow: hidden;
    top: 0;
    width: 100%;
}

.topbar {
    overflow: visible;
}

.nav-item {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

.img-user {
    width: 45%;
    height: auto;
}

.action-btn {
    border: var(--color-nav-80) 2px solid;
}

.action-btn a:hover, 
.action-btn a:focus, 
.action-btn a:active { 
    background-color: var(--color-nav-80) !important;
}

.dropdown-item a {
    text-decoration: none;
}

/* Content */
.main {
    overflow: visible !important;
}

/* Keranjang */
.border-bottom {
    border-bottom: black 2px solid !important; 
}

.table {
    font-weight: 700;
    overflow-y: auto;
}

.table img {
    max-width: 150px;
}

.table input {
    width: 60px;
}

.table tbody tr td {
    border-bottom: black 2px solid;
}

.table tbody tr td, .table tfoot tr td {
    vertical-align: middle;
    font-weight: 700;
}