:root {
    --color-nav: #2B3A46;
    --color-nav-80: rgba(43, 58, 70, 0.8);
    --color-nav-50: rgba(43, 58, 70, 0.5);
    --color-green: #84C035;
    --color-green-80: rgba(132, 192, 53, 0.8);
    --color-green-50: rgba(132, 192, 53, 0.5);
    --color-fff-20: rgba(255, 255, 255, 0.2);
    --color-fff-10: rgba(255, 255, 255, 0.1);
}

.bg-night {
    background-color: var(--color-nav);
}

.bg-green {
    background-color: var(--color-green);
}

.bg-green:hover {
    background-color: var(--color-green-80);
}

.bg-green:focus, .bg-green:active {
    background-color: var(--color-green) !important;
}

.bg-fff-20 {
    background-color: var(--color-fff-20);
}

.bg-fff-20:hover {
    background-color: var(--color-fff-10);
}

.text-green {
    color: var(--color-green);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    overflow: hidden;
    margin: 0;
}

/* Navbar */
header {
    background-color: var(--color-nav);
    overflow: hidden;
    top: 0;
    width: 100%;
}

.topbar {
    overflow: visible;
}

.nav-item {
    color: #000;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 0.5rem 1rem;
}

.img-user {
    width: 45%;
    height: auto;
}

.action-btn {
    border: var(--color-nav-80) 2px solid;
}

.action-btn a:hover, 
.action-btn a:focus, 
.action-btn a:active { 
    background-color: var(--color-nav-80) !important;
}

.dropdown-item a {
    text-decoration: none;
}

/* Content */
.sidebar {
    border-right: var(--color-green) 2px solid;
    min-width: 380px;
    padding-right: 0 !important;
}

.list-header {
    background-color: var(--color-green);
    color: #fff;
    padding: 0.5rem 1rem;
}

.list-header h3 {
    font-family: "Poppins", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
}

.active {
    box-shadow: 0 4px 8px 0 var(--color-green-50), 0 6px 20px 0 var(--color-green-80);
    border: var(--color-green) 1px solid !important;
    border-radius: 25px;
}

.card a {
    text-decoration: none;
    color: #000;
}

.card, .card-img img {
    border-radius: 25px;
}

.card-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-body {
    padding: 0.5rem 1rem;
}

.card-title {
    font-size: 1.1rem;
    font-weight: 700;
    color: black;
}

.card-text {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
}

.list-group {
    max-height: calc(100vh - 160px);
    overflow-y: auto;
}

main {
    overflow-y: auto !important;
    min-width: calc(100vw - 357px) !important;
}

.content {
    min-height: calc(100vh - 100px);
    z-index: -1;
}

.img-logo {
    min-width: auto;
}

.hide {
    display: none !important;
}

/* Product */
#product {
    max-height: calc(100dvh - 95px);
}